{
    "semi": true,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "endOfLine": "lf",
    "vueIndentScriptAndStyle": true,
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "parser": "vue"
            }
        }
    ]
}
